// ==========================================================================
// Settings
// ==========================================================================



//
// Fonts
// ==========================================================================

$base-ff : sans-serif;
$base-fs : 16px;
$base-lh : 1.2em;


//
// Colors
// ==========================================================================


//
// Misc
// ==========================================================================